<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <img src="http://vortexcultural.com.br/images/2021/05/jujutsu_capa.png">
  <ion-card-header>
    <ion-card-title>Jujutsu Kaisen</ion-card-title>
    <ion-card-subtitle>Anime - 2021 ‧ Ação/Fantasia</ion-card-subtitle>

    <ion-button color="warning" fill="solid" class="direita" routerLink="/jujutsukaisen">
      Info
    </ion-button>

  </ion-card-header>
</ion-card>
  </ion-content>
