<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Jujutsu Kaisen</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/4/4b/Jujutsu_Kaisen_Cover.png/250px-Jujutsu_Kaisen_Cover.png">
      <ion-card-subtitle>2021 ‧ Ação/Fantasia</ion-card-subtitle>
      <ion-card-title>Jujutsu Kaisen</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      O jovem Yuta Okkotsu ganha o controle de um espírito extremamente poderoso,
      então um grupo de feiticeiros o matriculam na Tokyo Prefectural Jujutsu High School,
      para ajudá-lo a controlar esse poder e também para ficar de olho nele.
    </ion-card-content>
  </ion-card>
</ion-content>
